$main_color: #00bfa5;
$hover_main_color: #009688;
$h1_color: #373e42;
$h2_color: #455a64;
$error_color: #e44845;
@mixin centered() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin centeredX() {
  left: 50%;
  transform: translate(-50%);
}
@mixin centeredY() {
  top: 50%;
  transform: translateY(-50%);
}

@font-face {
  font-family: "Roboto Medium";
  src: url('/assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: "Roboto Regular";
  src: url('/assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: "Roboto Light";
  src: url('/assets/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: "Roboto Bold";
  src: url('/assets/fonts/Roboto-Bold.ttf');
}


@font-face {
  font-family: "BERNIER Regular";
  src: url('/assets/fonts/BERNIERRegular-Regular.otf');
}


body,html {
  margin: 0;
  min-height: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  font-family: "Roboto Regular";
}

a {
  color: #6ba0bf;
  &:hover {
    text-decoration: none;
  }
}

.c-button {
  border-radius: 4px;
  background: $main_color;
  color: #fff;
  padding: 13px 21px;
  font-family: "Roboto Medium";
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  .fa {
    margin-right: 10px;
    top: 2px;
    position: relative;
    font-size: 20px;
  }
  &:hover {
    background-color: $hover_main_color;
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
}
@import 'common/prettify';
@import 'common/welcome';
@import 'common/message';
@import 'common/preloader';
@import 'common/about';
@import 'common/skills';
@import 'common/contacts';
@import 'common/footer';
@import 'common/works';
@import 'common/slider';
@import 'common/blog';
@import 'common/checkbox';
@import 'common/menu';

@import 'common/responsive';