@import 'header';
@import 'half-blocks';
.c-subtitle {
  text-align: center;
  display: inline-block;
  font-size: 35.1px;
  color:$h2_color;
  max-width: 220px;
  margin-top:-5px;
  position: relative;
  @include centeredX();
  font-family: "BERNIER Regular";
  &:before, &:after{
    content:"";
    display: inline-block;
    width: 22px;
    height: 5px;
    background: #373e42;
    opacity:.2;
    position: absolute;
    top: 22px;
  }
  &:before {
    left:-42px;
  }
  &:after {
    right:-40px;
  }
}

.l-map {
  height: 972px;
  width: 100%;
  background-image: url('/assets/img/map.png');
  background-position: center top;
  position: relative;
  .c-contacts {
    position: absolute;
    @include centered();
  }
  &__point {
    position: absolute;
    width: 30px;
    height: 40px;
    fill: $main_color;
    top: 462px;
    right: calc(626px - ((2317px - 100%) / 2));
  }
}
