@import 'header';
.l-content {
  position: relative;
  width: 100%;
  &__half-block {
    width: 50%;
    float:left;
    background: #eeebdf;
    .c-half-block__triangle {
      height: 105px;
      width: 100%;
      position: relative;
      top: -105px;
      margin-bottom: -90px;
      fill: #eeebdf;
    }
    &.c-half-block_left {
      background: #efeee9;
      .c-half-block__triangle {
        fill: #efeee9;
      }
    }
    .c-half-block__title-bg {
      height: 125px;
      width:100%;
      fill: #6d7070;
      opacity: .07;
      position: relative;
      top: -132px;
      margin-bottom: -125px;
    }
    .c-half-block__title {
      text-align: center;
      display: inline-block;
      font-size: 63px;
      margin-top: -13px;
      width: 100%;
      font-family: "BERNIER Regular";

    }
  }
}