$header_h: 600px;
.l-header {
  width: 100%;
  height:$header_h;
  position: relative;
  &__bg {
    width: 100%;
    height: 1325px;
    background-image: url('/assets/img/header.png');
    position: absolute;
    background-position: center top;
    background-size: cover;
    top: 0px;
    left: 0px;
  }
  &__color-filter {
    width: 100%;
    position: absolute;
    height: $header_h;
    opacity: .3;
    background: #016672;
    top: 0px;
    left: 0px;
  }
  &__portfolio {
    width: 100%;
    height: 313px;
    opacity: .06;
    fill: #fff;
    position: absolute;
    @include centered();
  }
  .c-socials_header {
    position: absolute;
    left: 10px;
    top: 30px;
  }
  .c-header__menu {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 40px;
    height: 35px;
    fill: #fff;
  }
  &__hero {
    position: absolute;
    margin-top: -32px;
    @include centered();
  }
  &__arrow {
    position: absolute;
    width: 26px;
    bottom: 4px;
    opacity: .7;
    fill: #fff;
    @include centeredX();
  }
}