.c-hero {
  text-align: center;
  &_theme_dark {
    color: $h2_color;
  }
  &_theme_light {
    color: #fff;
    .c-hero__title {
      font-size: 35px;
      margin-top: 7px;
    }
    .c-hero__sub-title {
      margin-top: 5px;
      font-family: "Roboto Light";
    }
  }
  &__image {
    width: 140px;
    height: 140px;
    border-radius:50%;
    margin-bottom: 12px;
  }
  &__title {
    font-family: "Roboto Medium";
    font-size: 28px;
  }
  &__sub-title {
    font-family: "Roboto Regular";
    font-size: 16px;
    margin-top: 7px;
    opacity: 0.8;
  }
}