@media (max-width: 768px) {
  .parallax_layer {display: none;}
  #parallax {
    background: url('../img/background.png');
    background-position: center;
    background-size: cover;
  }
  .c-copy.c-copy_welcome-copy {
    margin-bottom: 2rem;
  }
  .l-auth-block__button{
    margin-right: 1.5rem;
  }
  .l-header {
    height: 508px;
    &__arrow {
      bottom: 48px;
    }
  }
  .c-full-block {
    &__triangle{
      height: 68px;
      margin-bottom: -68px;
      top: -68px;
    }
  }
  .l-content {
    flex-direction: column;
    .c-half-block {
      width: 100%;
      &__triangle {
        fill:#efeee9;
        position: absolute;
        width: 50%;
        height: 68px;
        margin-bottom: -68px;
        top: -68px;
        right: 0px;
      }
      &__pic {
        width: 471px;
      }
      .c-subtitle {
        margin-top: 39px;
        margin-left: 0;
        font-size: 30px;
        &:before,&:after {
          top: calc(50% - 2px);
        }
        &:before {
          left: -43px!important;
        }
        &:after{
          right: -43px!important;
        }
      }

    }
    .c-half-block_left .c-half-block__triangle {
      left: 0px;
    }


    .c-title {
      margin-top: 35px;
      font-size: 50px;
      &:before,&:after {
        top: calc(50% - 2px);
      }
      &:before {
        left: -43px!important;
      }
      &:after{
        right: -43px!important;
      }

    }
    .c-half-block__description {
      margin: 12px 106px 0px 106px!important;

    }

    .c-half-block__h3 {
      font-size: 1.3rem;
      margin-top: 38px;
      text-align: center;
      padding-left: 106px;
      padding-right: 106px;
      margin-bottom: 0.625rem;
    }
    .c-half-block__h3_mtop {
      margin-top: 29px!important;
    }
    .c-half-block__skills {
      justify-content: center;
      padding-left: 106px;
      padding-right: 106px;
    }
  }
  .l-map {
    height: 805px;
    .c-contacts {
      top: calc(50% - 106px);
    }
  }
  .c-slider-description {
    flex-direction: column;
  }
  .c-slider-display {
    width: 100%;
    height: inherit;
    position: inherit;
  }
  .c-slider-buttons {
    margin-top: 0px;
  }

  .l-callback .l-header__arrow {
    bottom: 240px;
  }

  .footer {
    height: 212px;
    margin-top: -212px;
    &__top {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height: 119px;
    }
    &__socials {
      margin: 0px;
      margin-bottom: 15px;
    }
    &__bottom {
      justify-content: center;
      height: initial;
    }
    .c-bottom__description {
      margin: 17px 24px;
      max-width: 100%;
      text-align: center;
    }
    .c-copy_footer {
      margin: 0px;
      text-align: center;
    }
  }
  .l-header__portfolio {
    display: none;
  }

  .l-blog-lnav {
    display:none;
  }
  .c-blog-articles {
    padding-left: 24px;
    padding-right: 24px;
  }

}

@media (max-width: 480px) {
  .l-auth-block {
    align-self: center;
    &__button {
      margin-right: 0px;
    }
  }
  .front, .back {
    width: 100%;
  }

  .l-welcome-box {
    width: calc(100% - 20px);
  }
  .c-copy.c-copy_welcome-copy {
    margin-bottom: 10px;
  }
  .l-header .c-socials_header {
    left: 10px;
    top: 10px;
  }
  .c-socials__social-icon {
    padding: 0px 14px;
    &:first-child{padding-left: 0px}
    .c-social-icon__svg {width: 22px}
  }
  .l-header .c-header__menu {
    right: 10px;
    top: 10px;
    width: 25px;
    height: 22px;
  }
  .l-header__hero {
    width: 100%;
  }
  .c-hero_theme_light .c-hero__title {
    font-size: 20px;
  }

  .c-full-block {
    height: 97px;
    &__triangle {
      height: 27px;
      top: -27px;
    }
    .c-title {
      font-size: 35px;
      top: 12px;
    }
    .c-title-bg {
      height: 90px;
      top: -110px;
    }
  }
  .c-accent-title {
    margin: 0px 10px;
  }
  .l-callback {
    .c-title {
      font-size: 35px;
      top: 12px;
      max-width: 165px;
      margin-top: 34px;
    }
    .c-title-bg {
      height: 90px;
      top: -85px;
    }
    .c-feedback {
      margin-top: 75px;
      &__feedback-block {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 15px;
        width: 100%;
        .fa-quote-left {
          align-self: center;
        }
      }

    }
    .c-subtitle {
      max-width: 150px;
    }
    .c-galign {
      flex-direction: column;
    }
    &__callback-place {
      width: 90%;
      margin-bottom: 370px;
    }
    .l-header__arrow {
      bottom: 300px;
    }
  }
    .l-content {
    .c-half-block__triangle {
      height: 27px;
      top: -27px;
    }
    .c-title {
      font-size: 34px;
      margin-top: 25px;
    }
    .c-half-block {
      &__description {
        margin: 12px 10px 0px 10px!important;
        padding-left: 0px;
        padding-right: 0px;
      }
      &__skills {
        padding-left: 10px;
        padding-right: 10px;
      }
      &__pic {
        width: 100%!important;
        height: auto !important;
      }
      .c-subtitle {
        font-size: 20px;
        margin-top: 22px;
        max-width: 125px;
      }
    }

  }

  .l-map {
    display: flex;
    flex-direction: column;
    height: 972px;
    .c-contacts {
      order: -1;
      position:initial;
      min-width: 100%;
      transform: initial;
      padding: 35px 10px 0px 10px;
      &__contact-list {
        margin-left: 0px;
      }
    }
  }
  .c-maps {
    overflow: hidden;
    order: 1;
    width: 100%;
    position: relative !important;
  }

  .footer {
    height: 255px;
    margin-top: -255px;
    .c-nav__item {
      padding: 28px 5px;
    }
    .c-bottom__description {
      margin: 17px 10px;
    }
    .c-copy_footer {
      margin: 0px 10px;
    }
    .c-bottom__description,.c-copy_footer, .c-nav__item  {
      font-size: 13px;
      line-height: 1.5;
    }
  }


}