.c-slider-display {
  left: 50%;
  position: absolute;
  width: 50%;
  text-align: center;
  height: 320px;
  display: block;
  background: #eeebdf;
}
.c-slider-main-image {
  max-height: 320px;
  max-width: 100%;
  margin: 102px 0px;
}

.c-slider-buttons {
  display: flex;
  margin-top: 524px;
  width: 100%;
  height: 225px;
  &__left{
    border-right:1px solid #cac8c4;
  }
  &__left,&__right{
    width:50%;
    display: inline-block;
    height: 225px;
    cursor:pointer;
    position: relative;
    //background: #b6b4ae;
    &:hover .l-left__bg,&:hover .l-right__bg {
      opacity: .8;
    }
    &:hover .l-left__arrow {
      top: 70%!important;
    }
    &:hover .l-right__arrow {
      top:30%!important;
    }
    .l-left__bg, .l-right__bg {
      background: #b6b4ae;
      opacity: .7;
      transition: .5s;
      width: 100%;
      height: 100%;

    }


    .l-left__preview, .l-right__preview{
      max-height: 214px;
      max-width: 100%;
      position: absolute;
      @include centered();
    }
    .l-left__arrow, .l-right__arrow {
      width: 43px;
      height: 27px;
      transition: .5s;
      fill: #fff;
      position: absolute;
      @include centered();
    }
  }
}