.c-socials {

  &__social-icon {
    text-decoration: none;
    .c-social-icon__svg {
      width: 31px;
      opacity: 0.5;
      height: 22px;
      &:hover {
        opacity: 1;
      }
    }
  }
  &_welcome {
    text-align: center;
    width: 100%;
    .c-social-icon__svg {
      fill: $main_color;
    }
  }
  &_header {
    .c-socials__social-icon {
      padding: 0px 10px;
      .c-social-icon__svg {
        fill: #fff;
      }
    }
  }
}

