.l-welcome-box {
  //position: absolute;
  //gu@include centered();

  align-self: center;

  &__content {
    padding-top: 40px;
    border-radius: 4px 4px 0px 0px;
    background:  transparentize(#fff, .15);
    height: 350px;
    .c-socials_welcome {
      margin-top: 36px;
      & .c-socials__social-icon {
        margin: 0px 10px;
      }
    }
  }

  &__welcome-buttons {
    list-style:none;
    height: 45px;
    color:#fff;
    font-family: "Roboto Medium";
    font-size: 16px;
    margin: 0px;
    padding:0px;
    display: flex;
    .l-welcome-buttons__button {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px;
      cursor: pointer;
      transition: .5s;
      border-left: 2px solid rgba(#dee3e7, .5);
      background:  rgba($main_color, .85);
      &:first-child {
        border-radius: 0px 0px 0px 4px;
        border-left:none;
      }
      &:last-child {
        border-radius: 0px 0px 4px 0px;
      }
      &:hover {
        background: rgba($hover_main_color, .85);
      }
    }
  }
}
