extends ../_template
include ../common/_mixins
block variables
  - var title = 'Портфолио Мирошина Павла::Обо мне'

block content
  .wrapper
    .l-header
      .l-header__bg
      .l-header__color-filter
      svg.l-header__portfolio
        use(xlink:href='assets/img/sprite.svg#portfolio_header')
      .c-socials.c-socials_header
        +socials([{icon: "vk", link: "http://vk.com"},
            {icon: "github", link: "http://github.com"},
            {icon: "in", link: "http://linked.in"}
        ])
      svg.c-header__menu
        use(xlink:href='assets/img/sprite.svg#hamburger')
      .l-header__hero
        +hero('c-hero_theme_light')
      svg.l-header__arrow
        use(xlink:href='assets/img/sprite.svg#portf_arrow_down')
    .l-content
      .c-half-block.c-half-block_left
        svg(viewBox="0 0 1000 100" preserveAspectRatio="none").c-half-block__triangle
          polygon(points="0,0 0,100 1000,100")
        .c-title Обо мне
        svg.c-title-bg
          use(xlink:href='assets/img/sprite.svg#about_header')
        .c-half-block__pic
        .c-subtitle Кто я
        .c-half-block__description
          p Я веб разработчик из Москвы. Мне 26 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

      .c-half-block
        svg(viewBox="0 0 1000 100" preserveAspectRatio="none").c-half-block__triangle
          polygon(points="1000,0 1000,100 0,100")
        .c-subtitle Чем я могу быть вам полезен
        .c-half-block__description
          p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
        h2.c-half-block__h3.c-half-block__h3_mtop Frontend
        ul.c-half-block__skills
          li.c-skills__skill
            +skill(85,'HTML5')
          li.c-skills__skill
            +skill(80,'CSS3')
          li.c-skills__skill
            +skill(90,'JavaScript & jQuery')
        h2.c-half-block__h3 Backend
        ul.c-half-block__skills
          li.c-skills__skill
            +skill(40,'PHP')
          li.c-skills__skill
            +skill(55,'mySQL')
          li.c-skills__skill
            +skill(60,'Node.js & npm')
          li.c-skills__skill
            +skill(60,'Mongo.db')
        h2.c-half-block__h3 WorkFlow
        ul.c-half-block__skills
          li.c-skills__skill
            +skill(90,'Git')
          li.c-skills__skill
            +skill(65,'Gulp')
          li.c-skills__skill
            +skill(40,'Bower')
    .l-map
      svg.l-map__point
        use(xlink:href='assets/img/sprite.svg#map_marker')
      .c-contacts
        .c-subtitle Контакты
        ul.c-contacts__contact-list
          +contactList('skype','skype:virtuoz2142','virtuoz2142')
          +contactList('envelope','mailto:mps@retailasp.ru','mps@retailasp.ru')
          +contactList('phone','tel:+78005553535','8 800 555 35 35')
          +contactList('map_marker','https://yandex.ru/maps/?text=г.Новосибирск%2C%20ул.%20Инская%2C%20д.%205','г.Новосибирск, ул. Инская, д. 5')
  include ../common/footer
