extends ../_template
include ../common/_mixins

block variables
  - var title = 'Портфолио Мирошина Павла::Блог'
  - var script = 'arrow.init(".l-header__arrow",".c-blog-articles");blog.init();'
block content
  +menu()
  .wrapper
    .l-header.l-header_blog
      .l-header__bg
      .l-header__color-filter
      .c-socials.c-socials_header
        +socials([{icon: "vk", link: "http://vk.com"},
            {icon: "github", link: "http://github.com"},
            {icon: "in", link: "http://linked.in"}
        ])
      a.c-header__menu(href='javascript:menu.init()')
          span
      .l-header__hero
        +hero('c-hero_theme_light')
        .c-title.c-title_white Блог
        .c-title-description Статьи, которые я написал
        svg.c-title-bg.c-title-bg_white
          use(xlink:href='assets/img/sprite.svg#blog_header')
      svg.l-header__arrow
          use(xlink:href='assets/img/sprite.svg#portf_arrow_down')

    .c-full-block.c-full-block_blog
        svg(viewBox="0 0 1000 100" preserveAspectRatio="none").c-full-block__triangle.triangle_white
            polygon(points="0,0 0,100 1000,100")
        svg(viewBox="0 0 1000 100" preserveAspectRatio="none").c-full-block__triangle.triangle_right.triangle_white
            polygon(points="1000,0 1000,100 0,100")


    .l-content.l-content_margin.l-content_center
      .l-blog-lnav
        ul.l-blog-lnav__list
      .c-blog-articles


  include ../common/footer
