extends ../_template
include ../common/_mixins
block variables
  - var title = 'Портфолио Мирошина Павла'
  - var script = 'welcome.init()'

block content
  include ../common/preloader
  .l-background#parallax
    .parallax_layer
      img(src='./assets/img/parallax/parallax-1.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-2.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-3.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-4.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-5.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-6.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-7.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-8.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-9.png')
    .parallax_layer
      img(src='./assets/img/parallax/parallax-10.png')
  .wrapper.wrapper_welcome
    .l-auth-block
      .l-auth-block__button Авторизоваться
    .l-welcome-box
      .flipper
        .c-side-content.front
          .c-side-content__content
            +hero('c-hero_theme_dark',true)
            .c-socials.c-socials_welcome
              +socials([{icon:"vk",link:"http://vk.com"},
                  {icon:"github",link:"http://github.com"},
                  {icon:"in",link:"http://linked.in"}
              ])
          ul.c-side-content__welcome-buttons
            +menuItem('l-welcome-buttons__button','c-button__link',[{title: "Мои работы", link: "works.html"}, {
                title: 'Обо мне',
                link: 'about.html'
            }, {title: 'Блог', link: 'blog.html'}])
        .c-side-content.back
          .c-side-content__content
            .c-subtitle Авторизуйтесь
            p.c-centered-col
                label.input-icon(for='login')
                  i.fa.fa-user(aria-hidden='true')
                input#login.input-w-icon(type='text' placeholder="Логин")
            p.c-centered-col
              label.input-icon(for='password')
                i.fa.fa-key(aria-hidden='true')
              input#password.input-w-icon(type='password' placeholder="Пароль")
            p.c-centered-col
              input#robot.c-checkbox(type='checkbox')
              label.c-checkbox__label(for='robot') Я человек
            p.c-centered-col Вы точно не робот?
            .c-centered-col
              input#robot-yes.c-checkbox(type='radio' value='1' name='not_robot')
              label.c-checkbox__label(for='robot-yes') Да
              input#robot-not.c-checkbox(type='radio' value='0' name='not_robot')
              label.c-checkbox__label(for='robot-not') Не уверен
          ul.c-side-content__welcome-buttons
            +menuItem('l-welcome-buttons__button','c-button__link',[{title: "На главную", link: "index.html"}, {
                title: 'Войти',
                link: '#'
            }])
    .c-copy.c-copy_welcome-copy © Павел Мирошин | создано с любовью в LoftSchool | 2017